.app {
  background: #f0f0f0;
  min-height: 100vh;
}

.navbar {
  background: #4e5863;
  padding: 15px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}

.nav-link:hover {
  text-decoration: underline;
}